<div class="row">
	<div class="col-md-6">
		<img src="#">
		<form>
			<h2>About this Seminar></h2>
		</form>
	</div>
	<div class="col-md-6">
		<div class="col-md-3">
			<img src="#" alt="speaker-image">
			<div id="ratingBox"></div>
			<button>Request to Book</button>
		</div>
	</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<button>Write a Review</button>
			<img src="#" alt="User Profile Picture">
			</di>
	</div>
