<div class="container-fluid">
  <div class="row inbox-folder-wrapper">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'mailbox/folders' %>
        </div>
      </div>
    </div>

    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
        <% if is_conversation %>
          <%= render 'conversations/form' %>
          <% else %>
            <% if messages.count > 0 %>
              <%= render partial: 'conversations/conversation', collection: messages %>
            <% else %>
              <h4 class="text-center"><small>You don't have any messages.</small></h4>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>