<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
   		<p>A new user has created an account for BigTalker</p>
   </body>
</html>