<!DOCTYPE html>
<html>
	<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
    <% if @msg.form == "contact" %>
      <%= render 'contact_email' %>
    <% elsif @msg.form == "request" %>
      <%= render 'request_speaker_email' %>  
    <% end %>
	</body>
</html>