/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";

 @import "bootswatch/cosmo/variables";

 @import "bootstrap";

 @import "bootswatch/cosmo/bootswatch";


.navbar-custom {
 	background-color: #fafafa;
	height: 92px;
	color: red;
 }


.navbar-nav >li > a {
	color: #1D86FF !important;
	font-size: 22px;
}


.navbar-custom li a{
	line-height: 60px;
}

.navbar-custom form {
	line-height: 84px;
	margin-left: 50px;
}

.form-control {
	width: 80em;
}

 .jumbotron {
 	min-height: 600px;
 	text-align: center;
 }

 .thumbnail {
/*	width: 400px;
	margin: 0 10px;*/
 }

 .hero-text {
 	padding-top: 200px;
 	padding-bottom: 20px;
 }

 .workshop-container {
 	margin: 0 50px;
 }

li {
 	text-decoration: none;
 }

 .info-container {
 	background-color: #e9e9e9;
 }

