/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require chosen
 */


 @import "bootstrap-sprockets";
 @import "bootswatch/cosmo/variables";
 @import "bootstrap";
 @import "bootswatch/cosmo/bootswatch";
 @import "bootstrap-select-1.10.0/bootstrap-select.min";
 @import "font-awesome";
 @import "sites";  // for css in sites.css
 @import "users"; // for css in users.css
 @import "workshops"; // for css in workshops.css
 @import "conversations"; // for css in conversations.css
 @import "mailbox"; // for css in mailbox.css
 @import "font-awesome"; // font-awesome icon support

html, body {
  height: 100%;
}

.zero-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.line-height-20 {
  line-height: 20px;
}

.nav-and-yield {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -102px; 
}
.nav-and-yield:after {
  content: "";
  display: block;
}
.nav-and-yield:after {
  /* .push must be the same height as footer */
  height: 102px; 
}
footer {
  background-color: #fff;
  padding: 40px;
  .footer-nav {
    display: inline; 
    padding-right: 10px; 
    padding-left: 10px; 
  }
  a{
    color:#2780e3;
  }
}

.container-fluid {
  padding: 0px;
}

.social-share-wrapper {
  margin-bottom: 10px;  
}
.share-btn {
  img {
    height: 35px;
  }  
}

.navbar-custom {
	height: 60px;
  margin-bottom: 0px;
  .inbox-li {
    i#envelope {
      font-size: 22px;
    }
    span#inbox-notification {
      position: absolute;
      background-color: #FB404B;
      text-align: center;
      border-radius: 10px;
      min-width: 20px;
      padding: 0 5px;
      height: 20px;
      font-size: 12px;
      color: #FFFFFF;
      font-weight: bold;
      line-height: 20px;
      top: 10px;
      left: 26px;
    }
  }
  ul.nav.navbar-nav.navbar-right {
    margin: 0px;
  }
  .navbar-logo img {
    margin: 0 0 0 15px;
    margin-top: -3px;
    padding-bottom: 5px;
    height: 65px;
    width: auto;
  }
  // overrided mobile navbar styling
  .navbar-header button.navbar-toggle {
    // change style hamburger button
    margin-top: 10px;
    // background-color: #efefef;
    // border: 1.5px solid #aeaeae;
    border-radius: 5px;
    padding: 12px;
    .icon-bar {
      width: 25px;
    }
  }
  .navbar-collapse {

    // style navbar collapse when click hamburger button
    @media (max-width: 767px) {
      background-color: #2780e3 !important;
      // color: #2780e3 !important;
      margin-top: 10px;
      box-shadow: 2px 2px 2px #b9b9b9;
      -webkit-box-shadow: 2px 2px 2px #b9b9b9;
      -moz-box-shadow: 2px 2px 2px #b9b9b9;
      ul.nav.navbar-nav.navbar-right {
        padding: 0px;
      }
      .navbar-nav .open ul.dropdown-menu {
        padding-left: 10px;
        padding-right: 10px;
      }
      .navbar-nav .open .dropdown-menu > li > a {
        background-color: #fff;
        color: #2780e3 !important;
      }
      .navbar-nav .open .dropdown-menu > li > a:hover, 
      .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #e9e9e9 !important;
        color: #2780e3 !important;
      }
    }
  }

#bs-example-navbar-collapse-1 {
    color: #2780e3 !important;
}

  .navbar-collapse a:hover {
     // background-color: #fff!important;
     // color: #2780e3 !important;
  }
  .navbar-nav > .open > a, 
  .navbar-nav > .open > a:hover, 
  .navbar-nav > .open > a:focus {
    background-color: #e9e9e9 !important;
    color: #2780e3 !important;
   
  }
  // end overrided mobile navbar styling
}


.navbar-custom li a {
	line-height: 59px;
  font-size: 18px;
  color: #2780e3;
  border: none;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
  line-height: 50px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0px 15px;
   
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2780e3;
    background-color: #fff;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #000;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.navbar-brand {
  padding: 0 0 8px 4px;
}

.jumbotron {
 	min-height: 500px;
  max-height: 500px; 
 	text-align: center;
 	// background: url(https://static.pexels.com/photos/1984/black-and-white-city-man-people.jpg) no-repeat 45% 50%;
  // background: url(http://raptstudio.com/wp-content/uploads/2015/08/545A8041.jpg) no-repeat 45% 50%;
 	background: url(http://i.imgur.com/yK5tMXm.jpg) no-repeat 45% 50%;
  background-size: cover;
 	color: #fff;
  margin-bottom: 0px;
  h1 {
    padding-top: 80px;
    font-size: 4em;
    font-weight: bold;
    // text-shadow: 1px 2px #9b9b9b;
   }
  h2 {
    padding-bottom: 80px;
    font-size: 2em;
    font-weight: bold;
    // text-shadow: 1px 1px #9b9b9b
   }
 }

 @media (max-width: 500px) {
  .jumbotron {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.5em;
    }
  }
 }

.custom-btn {
  min-height: 50px;
  letter-spacing: 0.5px;
  position: relative;
  .left-postition {
    position: absolute;
    left: 10px;
  }
}

#btn-signup {
    padding: 10px 22px;
    font-size: 21px;
    border-radius: 0;
}

.workshop-container {
 	margin: 0 20px;
  .thumbnail.featured-workshop {
    h3 {
      font-size: 22px;
    }
  }
 }

.ft-box {
  overflow:hidden;

}
.thumbnail.featured-workshop {
  min-height: 490px;
  padding: 3%;
}

 .thumbnail>img, .thumbnail a>img {
    height: 210px;
}

a.workshop-title-link {
  max-height: 10px;
}

.workshop-index {
  margin: 10px 10px;
}

.workshop-show {
  margin-top: 10px;
}
.contact-container {
 	background-color: #3f4652;
  height: 220px;

 }

 #btn-contact {
 }

.modal-dialog h4{
  font-size: 50px;
  text-align: center;
}

#search-bar {
    display: block;
    width: 100%;
    height: 90px;
    font-size: 36px;
}

.btn-city {
    margin: 20px auto;
}

#contact-form{
  float: right;
  margin-right:5%;
}

#reviews-box {
    height: 120px;
    width: 100%;
    // word-wrap: break-word;
    display: table-cell;
}

#reviews-box p {
    padding:14px;
    font-size: 24px;
}

.btn-review{
  margin-bottom:20px;
}


.btn-danger {
  margin-bottom: 0px;
}

ul.dropdown-menu{
  width: auto;
}

.dropdown-menu ul li {
  width: 100%;
}

//search bar
.search {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.search input {
    height: 60px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    // border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    background-color: #fff;
    color: #333;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }

#contact {
  h1, h3{
    padding-bottom:26px;
  }
  .contact-info {
    padding: 40px 0px 70px 0px;
  }
  .contact-form-wrap {
      background: #3f4652;
      padding: 50px 0;
      .row {
        margin-left: 0px;
        margin-right: 0px;
      }
  }

  .field input, .input-group-addon {
      height: 40px;
      border:none;
      font-size: 18px;

  }
  .input-group-addon {
    background-color: #fff;
  }
  textarea  {
    border:none;
    font-size: 24px;
  }

  .icons {
    margin-top:20px;
  }

  .icons p, a{
    font-size:18px;
  }
}

#btn-contact.btn.btn-primary {
    width: 100px;
    margin-top: 70px;
    width: 240px;
    height: 60px;
    font-size: 28px;
    border: none;
  }

  /*new navbar */
  #header.navbar--white {
    background-color: #FFF;
    border: 1px solid rgba(70,76,89,.1);
}
#header {
    background-color: #474B59;
    border: none;
    margin: 0;
    padding: 5px 20px;
    z-index: 100;
}
.headroom {
    -webkit-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.notice-error-msg {
  div.alert {
    margin-bottom: 0px!important;
  }
}
.pagination-wrapper {
  padding-top: 15px;
  padding-bottom: 30px;
}
.pagination-ui {
  a {
    padding: 3px 5px;
    border: 1px solid #000;
    cursor: pointer;
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
  }
  em.current {
    padding: 3px 5px;
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }
  span.previous_page.disabled, span.next_page.disabled {
    padding: 3px;
    color: #aaaaaa;
  }
  a:hover, a:active, a:focus {
    border-color: #003366;
    background: #2780e3;
    color: white;
  }
}

.btn-send {
  width: 24%;
  margin: 0 auto;
}

.btn-default {
    color: #fff;
    background-color: #3f4652;
    border-color: #222222;
}

.fa-envelope-o:before, .fa-map-marker:before, .fa-mobile-phone:before {
  color: #3f4652;
}


#one-true { overflow: hidden; }
#one-true .col {
  width: 27%;
  padding: 30px 3.15% 0;
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
#one-true .col:nth-child(1) { margin-left: 33.3%; background: #ccc; }
#one-true .col:nth-child(2) { margin-left: -66.3%; background: #eee; }
#one-true .col:nth-child(3) { left: 0; background: #eee; }
#one-true p { margin-bottom: 30px; } /* Bottom padding on col is busy */