.field {
	margin-top: 10px;
}
.avatar-upload-container img {
	float: left;
}

.avatar-upload {
	float: left;
	width: 300px;
  margin-left: 20px;
  p.small {
  	margin-top: 10px;
  }
}

.userthumb{
	margin-top: 25px;
	text-align: center;

	img {
		margin-top: 25px;
	}

	h4, p {
		display: inline-block;
		text-align:left;
	}
}
