// workshops index
.workshop-index-speaker {
	margin-bottom: 15px;
	.tiny-thumb {
		height: 50px;
		float: left;
		margin-right: 15px;
	}
}
// end workshops index

// Trung
.gap-40px {
	height: 40px;
}
.workshop-img {
	margin: 0 auto;
}
.workshop-box.center-block {
	position: relative;
}
.edit-delete-workshop-btn-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	.edit-workshop-btn, .delete-workshop-btn {
		min-width: 55px;
	}
}
// end Trung

p {
	font-size: 1em;
}

div.btn.btn-danger {
	margin: 0 auto;

}

#speaker-box {
	margin-top: 18px;
}

#workshop-description p{
	max-width: 70%;
}
