.workshop-show {
	padding-bottom: 30px;
}
.workshop-title-link:hover, .workshop-title-link:focus, .workshop-title-link:active,
.speaker-name-link:hover, .speaker-name-link:focus, .speaker-name-link:active {
	text-decoration: none;
}
.speaker-name-link {
	margin-bottom: 5px;
}
// workshops index
.workshop-index-speaker {
	margin-bottom: 5px;
	.tiny-thumb img {
		height: 60px;
		float: left;
		margin-right: 15px;
	}
}
.view-btn {
	margin-left: 91%;
}
@media (max-width: 991px) {
	.view-btn{
		width: 20%;
		margin-left: 40%;
		margin-right: 40%;
	}
}
// end workshops index

// new workshop
select#workshop_topic_id {
  -webkit-appearance: none;
  background: url(https://upload.wikimedia.org/wikipedia/commons/f/f7/Arrow-down-navmenu.png) no-repeat right;
  background-color: white;
}
// end

// Trung
.gap-40px {
	height: 40px;
}
.workshop-img {
	margin: 0 auto;
	padding-top:25px;
}
.workshop-box.center-block {
	position: relative;
}
.edit-delete-workshop-btn-wrapper {
	top: 0px;
	right: 0px;
	.edit-workshop-btn, .delete-workshop-btn {
		min-width: 45px;
	}
}
.user-rating-wrapper {
	.star img {
		height: 22px;
	}
}
img.raty-cancel {
  display: none;
}
// end Trung

p {
	font-size: 1em;
}

div.btn.btn-danger {
	margin: 0 auto;

}

#speaker-box {
	margin-top: 18px;
}
span.h4-big {
	font-size: 26px;
	padding-bottom: 10px;
}
br.br-big {
	font-size: 26px;
}

.speaker-bio {
	text-align: justify;
}
@media (min-width: 991px) {
	#workshop-description p{
		padding-right: 30px;
	}
}

.review-container {
	position: relative;
}
.review-buttons-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
}
.overall-rating-wrapper {
	margin-bottom: 10px;
	.review-btn-wrapper {
		height: 53px;
	}
	.review-btn-wrapper:before {
    content: ' ';
    display: inline-block;

    height: 90%;
	}
}
.msg-btn-wrapper {
	margin: 10px 0px;
}
hr.hr-medium {
	width: 90%;
}

.formthumbnail {
	margin-top: 20px;
	h2 {
		text-align: center;
	}

}
.required-label {
	color: #d04108;
}

.new_workshop, .edit_workshop {
	label {
		color: #656565;
	}
}

// .btn-edit, .btn-delete {
// 	width: 10px;
// 	height: 20px;

// }

// .fa-trash-o:before{
// 	color: red;
// }

// .fa-pencil-square-o:before{
// 	color: blue;
// }
